body{
    font-family: 'Courier New', Courier, monospace;
}
#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.save-btn{
    position: fixed;
    z-index: 9999999;
    top: 20px;
    right: 10px;
    background-color: salmon;
    border: 1px solid saddlebrown;
    padding: 4px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 24px;
}

.save-btn:hover{
    background-color: aliceblue;
    border: 1px solid saddlebrown;
    color: salmon;
}

.cpybtn{
    position: fixed;
    z-index: 99999999;
    top: 20px;
    right: 100px;
    background-color: salmon;
    border: 1px solid saddlebrown;
    padding: 4px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 24px;
}

.cpybtn:hover{
    background-color: aliceblue;
    border: 1px solid saddlebrown;
    color: salmon;
}

.latest-buckets{
    position: fixed;
    z-index: 9999;
    top: 65px;
    right: 11px;
    background-color: salmon;
    border: 1px solid saddlebrown;
    padding: 4px;
    color: aliceblue;
}

.latest-buckets li{
    list-style-type: none;
    padding: 5px;
}

.latest-buckets li a{
    text-decoration: none;
    color: aliceblue;
    padding: 5px;
}

.latest-buckets li a:hover{
    text-decoration: none;
    background-color: aliceblue;
    color: salmon;
}

.saved-link{
    position: fixed;
    z-index: 9999;
    top: 22px;
    right: 66px;
    font-size: 24px;
    
    display: none;
    width: 500px;
}