<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrypted Code Bucket</title>

    <link rel="stylesheet" href="/bucket/lib/index.css">
</head>
<body>

    <div id="editor"></div>

    <input type="text" value="" class="saved-link" />
    <button type="button" class="save-btn" id="save">Save</button>
    
    <button type="button" class="cpybtn" id="copy">Copy</button>


    {% if objects %}
    <ul class="latest-buckets">
        <h4>Last Text Files:</h4>
        {% for object in objects %}
            <li><a href="/bucket/index.php/show/{{ object['Key'] }}">{{ object['Key'] }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/bucket/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $(document).ready(function(){
            var editor = ace.edit("editor");
            ace.config.set('basePath', '/bucket/ace-builds/src-noconflict/')
            editor.setTheme("ace/theme/dracula");
            editor.session.setMode("ace/mode/text");
            editor.find('needle',{
                backwards: false,
                wrap: false,
                caseSensitive: false,
                wholeWord: false,
                regExp: false
            });
            editor.findNext();
            editor.findPrevious();
            editor.session.setUseWrapMode(true);
            editor.resize()
        
        
            $("#save").on("click", function(){
                $(".saved-link").css("display","none");
                $.post("/bucket/index.php/save", {
                    content: editor.getValue()
                }).then(function(data){
                    if(data !== undefined){
                        var url = "http://odznames.com/bucket/index.php/show/";
                        $(".saved-link").val(url+data.file_name);
                        $(".saved-link").css("display","block");
                    }
                })
            })
        
            $(".saved-link").on("click", function(){
                $(".saved-link").select()
        
                document.execCommand("copy");
            })

            $(".cpybtn").on("click", function(){
                $(".saved-link").select()
        
                document.execCommand("copy");
            })
        
        });
    </script>
</body>
</html>