<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrypted Code Bucket</title>

    <link rel="stylesheet" href="/bucket/lib/index.css">
</head>
<body>

    <div id="editor">{{ data }}</div>

    <button type="button" class="save-btn" id="save" disabled>Read Only Mode</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/bucket/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $(document).ready(function(){
            var editor = ace.edit("editor");
            ace.config.set('basePath', '/bucket/ace-builds/src-noconflict/')
            editor.setTheme("ace/theme/dracula");
            editor.session.setMode("ace/mode/text");
            editor.find('needle',{
                backwards: false,
                wrap: false,
                caseSensitive: false,
                wholeWord: false,
                regExp: false
            });
            editor.findNext();
            editor.findPrevious();
            editor.session.setUseWrapMode(true);
            editor.resize()
        });
    </script>
</body>
</html>